@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scrollbar-width: thin;
  scrollbar-color: var(blue) var(purple);
}
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(9, 15, 19);
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: rgb(9, 15, 19);
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  /*backdrop-filter: blur(20px); Adjust the blur value as needed 
  background: rgb(0,0,0);*/
backdrop-filter: blur(8px);
/*bcackground: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(66,5,207,1) 25%, rgba(0,0,0,1) 100%);*/
background: black;
  min-height: 100vh;
}
body {
  
  min-height: 100vh;
}
        

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/***** Show language in code blocks *****/
body pre[class^="language-"]::before {
  font-family: var(--font-default);
  color: var(--text-muted);
  font-size: var(--font-smaller);
  font-weight: var(--font-semibold);
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

/*
.imgcard:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.imgcard {
  transform: rotateY(180deg);
}*/
.border-gradient-to-r {
  border-image-source: linear-gradient(
    to right,
    #blue-500,
    #green-500,
    #purple-500
  );
  border-image-slice: 1;
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.gradient-border {
  background: linear-gradient(to right, #ff8c00, #ff69b4, #8a2be2);
  padding: 1px;
}

.gradient-text {
  background: linear-gradient(to right, #ff8c00, #ff69b4, #8a2be2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-slider {
  animation: slide 10s linear infinite;
}

.slide {
  flex-shrink: 0;
  width: 125px;
}
/*
.react-modal-sheet-backdrop{
  background-color: black;
}*/
.main {
  
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  
}

.testimonial-container {
  scroll-behavior: smooth;
}

.testimonial-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  .testimonial-container {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 1rem;
  }
}

/* Add to your global CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
